{% extends 'users/head.html' %} {% block body%}
<div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
            <table class="table" style="border: 1px solid lightgray; border-radius: 5px; margin: 10%;padding: 5%;">
                  <thead>
                        <tr>
                              <th scope="col">Id</th>
                              <th scope="col">Name</th>
                              <th scope="col">Email</th>
                        </tr>
                  </thead>
                  <tbody>
                        {% for user in all_users %}
                        <tr>
                              <td scope="row">{{user.id }}</td>
                              <td>{{user.name }}</td>
                              <td>{{user.email }}</td>
                        </tr>
                        {% endfor %}
                  </tbody>
            </table>

      </div>

</div>
{% endblock body %}